@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

#map {
	height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
