body {
	min-height: 130vh;
}
h1 {
	text-align: center;
}
.btn {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 3rem;
}
.box {
	width: 150px;
	height: 150px;
	background: grey;
	/* margin: 0 auto; */
	margin-top: 4rem;
	margin-left: -1rem;
}
