@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

.mobile-container {
	background-color: rgb(221, 235, 238);
	box-shadow: 0 0 5px #33333303;
	width: 400px;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

header input {
	background-color: rgb(16, 81, 119);
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1rem;
}

header button {
	background-color: transparent;
	border: none;
	color: rgb(197, 188, 188)
	font-size: 1.5rem;
	margin-left: 10px;
}

.fav-container {
	background-color: rgb(90, 188, 206);
	display: flex;
	padding: 1rem;
}

.fav-meals {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.fav-meals li {
	width: 75px;
	margin: 5px;
}

.fav-meals li img {
	border: 2px solid #ffffff;
	box-shadow: 0 0 10px 2px #3333331a;
	border-radius: 50%;
	object-fit: cover;
	height: 70px;
	width: 70px;
}

.fav-meals li span {
	font-size: 0.9rem;
}

.meal {
	border-radius: 3px;
	box-shadow: 0 0 10px 2px #3333331a;
	margin: 1.5rem;
}

.meal-header {
	position: relative;
}

.meal-header .random {
	position: absolute;
	top: 10px;
	background-color: #fff;
	padding: 0.25rem 0.5rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.meal-header img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.meal-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.meal-body h4 {
	margin: 0;
}

.meal-body .fav-btn {
	border: none;
	background-color: transparent;
	color: rgb(233, 199, 188);
	cursor: pointer;
	font-size: 1.2rem;
}

.meal-body .fav-btn.active {
	color: rebeccapurple;
}
